:host {
  width: 100%;
  display: grid;
  gap: 8px;
  border-radius: 6px;
}

@supports selector(:focus-within) {
  :host(:focus) {
    outline: none;
  }
}

:host(:focus-within) {
  outline: 2px var(--csc-primary) solid;
  outline-offset: 2px;
}

.c-steps {
  --c-step-line-color: var(--csc-mid-grey);
  --c-step-before-color: var(--csc-mid-grey);
  --c-step-after-color: var(--csc-mid-grey);
  --c-step-divider-width: calc(100% + 160px);
  --c-step-divider-margin: 10px -80px 0;

  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  slot {
    display: flex;
    justify-items: space-between;
    width: 100%;
  }

  ::slotted(.divider) {
    height: 2px;
    flex: 1;
    background-color: var(--c-step-line-color);
    width: var(--c-step-divider-width);
    margin: var(--c-step-divider-margin);
  }

  ::slotted(.divider.complete) {
    background-color: var(--csc-primary);
    height: 4px;
    margin-top: 9px;
  }

  &.mobile {
    --c-step-divider-width: calc(100% + 11px);
    --c-step-divider-margin: 10px -10px 0;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
