.c-tab-buttons {
  --c-switch-border-color: var(--csc-primary);

  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 0 2px var(--c-switch-border-color);
  margin: 2px;
  border-radius: var(--csc-border-radius);
  background-color: var(--csc-primary);
  gap: 2px;

  ::slotted(*) {
    flex-grow: 1;
  }

  &--disabled {
    --c-switch-border-color: var(--csc-light-grey);
    pointer-events: none;
    background-color: var(--csc-light-grey);
  }
}

::slotted(c-button:first-child) {
  --c-radius: 4px 0 0 4px;
}

::slotted(c-button:last-child) {
  --c-radius: 0 4px 4px 0;
}
