:host {
  display: block;
  padding: 0 var(--c-card-gap, 24px);
}

.c-card-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--c-card-gap);

  ::slotted(*) {
    max-width: 100%;
  }
}
