:host::-webkit-scrollbar {
  width: 12px;
  background: #d8e8ea;
}
:host::-webkit-scrollbar-track {
  border-radius: 10px;
}
:host::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: solid 3px #d8e8ea;
}

:host(.autoheight) {
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

:host(.desktop) {
  flex-grow: 1;
  display: flex;
  flex-shrink: 2;
  flex-basis: 260px;
  max-width: 320px;
  background: var(--csc-primary);
}

.c-sidenavigation {
  background: var(--csc-primary);
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  gap: 4px;
  min-height: fit-content;
  padding: 24px 0px 24px 24px;
  position: relative;
  transition: transform 0.3s ease;
  width: 100%;
  z-index: 8;

  &__content {
    $content: &;

    display: flex;
    flex-direction: column;
    flex-basis: 260px;
    flex-grow: 1;
    flex-shrink: 2;
    width: 320px;

    &--mobile {
      height: 100vh;
      max-width: 320px;
      overflow-y: scroll;
      position: fixed;
      right: 0;
      top: 0;
      transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);
      transform: translateX(0%);
      z-index: 999;

      &#{$content} {
        &--hidden {
          transform: translateX(100%);
        }
      }

      > nav {
        min-height: auto;
        padding-top: 0;
      }
    }
  }

  &__burger {
    background-color: var(--csc-primary);
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.autoheight > nav {
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}

.vertical-spacer {
  flex: 1;
  margin-bottom: 8px;
}

.c-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

.c-fadeIn {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  z-index: 997;
}

c-sidenavigationitem,
c-subnavigationitem {
  display: contents;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
