:host {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 20000;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--csc-light-grey-blue);
  border-top: 1px var(--csc-primary) solid;
  color: var(--csc-dark-grey);
  min-height: 100px;
}

:host > c-row {
  flex: 1;
  margin: 24px;
}
