:host {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  outline: none;
  text-decoration: none;
  user-select: none;
  display: grid;
  align-content: stretch;
  padding: 4px;
  background-color: transparent;
  border: none;
}

:host(:focus) {
  outline: 2px var(--csc-primary) solid;
  outline-offset: -2px;
}

@supports selector(:focus-visible) {
  :host(:focus) {
    outline: none;
  }
}

:host(:focus-visible) {
  outline: 2px var(--csc-primary) solid;
  outline-offset: -2px;
}

.c-swiper-tab {
  $this: &;

  height: 100%;

  &:hover:not(#{$this}--active) {
    #{$this}__content {
      background-color: var(--csc-primary-ghost-hover);
    }
  }

  &__content {
    --c-color: var(--csc-primary);
    border-radius: 4px;
    background-color: var(--csc-primary-ghost);
    color: var(--csc-primary);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr;
    padding: 16px;
    align-content: start;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  &__header {
    line-height: 38px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
  }

  &__description {
    align-items: start;
    opacity: 0.67;
  }

  &--disabled {
    #{$this}__content {
      --c-color: var(--csc-mid-grey);
      background: var(--csc-lightest-grey);
      color: var(--csc-mid-grey);
      cursor: default !important;
      pointer-events: none;
    }
  }

  &--active {
    #{$this}__content {
      background-color: var(--csc-primary);
      --c-color: #fff;
      color: #fff;
      pointer-events: none;

      &:hover {
        background-color: var(--csc-primary-hover);
      }
    }
  }

  svg {
    fill: currentColor;
    height: 38px;
    width: 38px;
  }
}
