code {
  border-radius: 6px;
  padding: 32px !important;
  font-family: 'IBM Plex Mono', monospace;
}

pre {
  margin-bottom: 0;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
