.viewer {
  background: #fff;
  padding: 48px;
  padding-top: 40px;
  margin: 24px;
  border-radius: 6px;
}

.viewer.mobile {
  padding: 16px;
  margin: 12px;
}

h1 {
  margin-top: 0;
}

.nav-link {
  cursor: pointer;
}
