:host {
  --c-tag-margin: 2px;

  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: var(--c-tag-margin);
}

:host(.fit) {
  display: block;
  flex-grow: 1;
}

:host(.flat) {
  cursor: inherit;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  outline: 1px black solid;
}

svg {
  width: 14px;
  height: 14px;
}

.row {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.c-tag {
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 0px 0px 0px 1px var(--csc-primary);
  color: var(--csc-primary);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  min-height: 24px;
  padding: 4px 12px;
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--csc-primary-text-hover);
    color: var(--csc-primary);
  }

  &.active {
    background: var(--csc-primary);
    color: #fff;

    &:hover {
      background: #50978d;
      color: #fff;
      box-shadow: none;
    }

    .badge {
      background-color: #fff;
      color: var(--csc-primary);
    }
  }

  &.flat {
    &:hover {
      background: transparent;
    }
  }

  &.flat.active {
    &:hover {
      background: var(--csc-primary);
    }
  }

  .badge {
    background-color: var(--csc-primary);
    border-radius: 24px;
    color: #fff;
    display: grid;
    font-size: 12px;
    height: 16px;
    line-height: 1;
    min-width: 16px;
    padding: 0 4px;
    place-content: center;
  }

  &--badge {
    padding-left: 4px;
  }

  &--closeable {
    padding-right: 8px;
  }
}
