:host {
  --c-menu-header-height: 38px;
  --c-menu-padding: 0 14px;
  --c-menu-bg-hover: var(--csc-primary-text-hover);

  border-radius: 4px;
  color: #595959;
  display: block;
  font-size: 14px;
  position: relative;
  user-select: none;
}

button {
  border-radius: 4px;
  color: #595959;
  cursor: pointer;
  display: block;
  font-family: $csc-font-family;
  position: relative;
  user-select: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding: var(--c-menu-padding);
  border-radius: 4px;

  &:focus {
    outline: 2px var(--csc-primary) solid;
    outline-offset: 2px;
  }

  @supports selector(:focus-visible) {
    &:focus {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 2px var(--csc-primary) solid;
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--c-menu-bg-hover);
  }
}

svg {
  box-sizing: content-box;
}

svg fill {
  fill: #595959;
}

.c-menu__icon {
  line-height: 20px;
  transition: transform 0.25s;

  &--rotated {
    transform: rotate(180deg);
  }
}

.c-menu__header {
  display: flex;
  flex: 1 1 auto;
  margin-left: 0;
  align-items: center;
  gap: 8px;
  height: var(--c-menu-header-height);
}

:host(.c-menu--simple) {
  --c-menu-padding: 0;
  --c-menu-bg-hover: transparent;

  background: transparent !important;
}

:host(.c-menu--small) {
  --c-menu-header-height: 32px;
}

:host(.c-menu--active) svg,
:host(:hover) svg {
  fill: var(--csc-primary);
}

:host(.c-menu--no-hover) {
  --c-menu-bg-hover: transparent;
}

.c-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  &__content {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
