:host {
  --c-card-gap: 24px;

  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 5px 5px;
  display: flex;
  flex-direction: column;
  gap: var(--c-card-gap);
  padding: var(--c-card-gap) 0;
  position: relative;
}

::slotted(c-loader) {
  border-radius: 6px;
}

:host(.c-card--fullscreen) {
  height: 100vh;
  left: 0 !important;
  overflow-y: scroll;
  position: fixed;
  top: 0 !important;
  width: 100vw;
  z-index: 10;
}

.c-card {
  &__fullscreen-toggle {
    position: absolute;
    right: 22px;
    top: 22px;
  }
}
