:host {
  display: block;
  user-select: none;
  flex-grow: 1;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  border-radius: 4px;
  outline: 2px var(--csc-primary) solid;
  outline-offset: 2px;
}

:host([role='tab'][aria-disabled='true']) {
  cursor: default !important;
}

slot {
  pointer-events: none;
}

:host(.c-tab) {
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  color: var(--csc-primary);
  font-weight: 600;
  text-align: center;
  box-shadow: inset 0 0 0 transparent;
  position: relative;
  overflow: hidden;
}

:host(.c-tab:hover) {
  background: var(--csc-primary-ghost);
}

:host(.c-tab--active) {
  color: var(--csc-primary);
  box-shadow: inset 0 -15px 0 -12px var(--csc-primary);
}

:host(.c-tab--active:hover) {
  background: transparent !important;
}

:host(.c-tab--disabled) {
  color: var(--csc-mid-grey);
  cursor: default;
  opacity: 0.75;
  pointer-events: none;
}

:host(.c-tab button) {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
