.c-subnavigation-item {
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  color: #595959;
  cursor: pointer;
  display: block;
  display: flex;
  font-weight: 400;
  line-height: 46px;
  margin: 0 8px;
  overflow: hidden;
  padding-left: 34px;
  position: relative;
  transition: background-color 0.2s ease-in;
  user-select: none;
  max-width: calc(320px - 24px - 16px);
}

.c-subnavigation-item__wrapper {
  padding: 2px 0;
}

.c-subnavigation-item__content {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-subnavigation-item__content::before {
  background-color: var(--csc-primary);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0) translateX(-8px);
  transition: transform 0.2s ease-in-out;
  width: 8px;
}

.c-subnavigation-item:hover {
  background-color: #f0f6f7;
  color: var(--csc-primary);
}

:host(.active) .c-subnavigation-item {
  background-color: #ffffff;
}

:host(.active) .c-subnavigation-item__content::before {
  transform: translateZ(0) translateX(0);
}

::slotted(span) {
  margin-right: 8px;
  font-size: 20px;
  line-height: 1;
}

.c-subnavigation-item:focus {
  outline: none;
}

.c-subnavigation-item:focus-visible {
  outline: 2px var(--csc-primary) solid;
  outline-offset: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.c-subnavigation-item__slot {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  slot {
    display: flex;
    align-items: center;
  }
}
