:host {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  left: 0;
  padding: 12px;
  pointer-events: none;
  position: fixed;
  right: 0;
  z-index: 10000;
  max-width: 100%;
  min-width: 30vw;
  width: 640px;
}

:host(.absolute) {
  position: absolute;
}

:host(.bottom) {
  bottom: 0;
}

:host(.top) {
  top: 0;
}

:host(.right) {
  right: 0;
  left: auto;
  justify-content: end;
}

:host(.left) {
  right: auto;
  left: 0;
  justify-content: start;
}

:host(.center) {
  justify-content: center;
  margin: 0 auto;
}
