:host {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: #595959;
  font-weight: 500;
}

.title-underline {
  width: 44px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--csc-primary);
  margin-top: 10px;
}

:host(.center) {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
